.gpt3__cta {
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 3rem;
  margin: 4rem;
  background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10.7236px;
}

.gpt3__cta-content p {
  font-weight: 500;
  font-size: 13px;
  line-height: 30px;
  color: #0E0E0E;
}

.gpt3__cta-content h3 {
  font-weight: 800;
  font-size: 24px;
  line-height: 45px;
  color: #000000;
}

.gpt3__cta-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}
.gpt3__cta-button button {
  background: #000000;
  color: #FFFFFF;
  border-radius: 40px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  border: none;
  outline: none;
  padding: 0.8rem 2.5rem;
  white-space: nowrap;
}

@media screen and (max-width: 750px) {
  .gpt3__cta {
    flex-direction: column;
  }

  .gpt3__cta-button {
    margin: 2rem 0 0;
  }
}

@media screen and (max-width: 550px) {
  .gpt3__cta {
    margin: 4rem 2rem;
  }

  .gpt3__cta-content h3 {
    font-size: 18px;
    line-height: 32px;
  }

  .gpt3__cta-button button {
    font-size: 14px;
    line-height: 28px;
  }
}